.header .search {
  position: relative;
}
.header .search .nav {
  background-color: white;
  position: absolute;
  bottom: -20px;
  left: 10px;
  ul.cate-top {
    display: flex;
    flex-wrap: nowrap;
    font-size: 11px;
    li {
      padding: unset;
      margin-right: 20px;
      a {
        border-right: none;
        width: unset;
        display: block;
      }
    }
  }
}

.category__left .categories ul li .category-name {
  cursor: pointer;
  font-size: 16px;
  &:hover {
    color: green;
  }
}
.pagination {
  > span {
    font-weight: bold;
  }
}
.page-pagination {
  display: flex;
  > span {
    font-weight: bold;
  }
  li {
    a {
      &:hover {
        color: green;
      }
    }
    span {
      font-weight: bold;
      display: block;
      &.dot {
        border: none;
      }
    }
    &:last-child {
      a {
        margin-right: 0px;
      }
    }
  }
  .page-numbers {
    font-size: 16px;
    margin-right: 10px;
    padding: 0 10px;
  }
}
.pagi-wrap {
  justify-content: flex-end;
}
.filter-choose {
  justify-content: flex-end;
  .check1 {
    border: 1px solid #000;
  }
}
